.map {
  //background-color: white;
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
}

.location {
  fill: #e0e0e0;
  stroke: #ffffff;
  stroke-width: 0.15px;

  &:hover {
    fill: #e5e5e5;
  }
}

