@import "~@blueprintjs/core/lib/scss/variables";

.sidebar {
  background-color: $light-gray5;
  min-height: calc(100vh - 50px);

  &__menu {
    background: none;

    &__active {
        background-color: $light-gray3;
    }

    &__title {
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-size: 80%;
      cursor: default;
      color: $gray3;

      &:hover {
        color: $gray3;
        background: none;
      }
    }
  }
}
