.viewer {

}

.focus {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  position: absolute;

  background: url("../../../public/focus_unavailable_bg.png") center bottom
    no-repeat;
  width: 164px;
  height: 124px;

  &__picture {
    background: url("../../../public/goal_unknown.png") center center no-repeat;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }

  &__title {
    user-select: none;
    cursor: pointer;
    position: absolute;
    color: #f0f0f0;
    height: 43px;
    display: flex;
    bottom: 0;
    padding: 0 15px;
    text-align: center;
    font-family: proxima-nova-condensed,Helvetica Neue,Arial,sans-serif;
    font-size: 12px;
    font-weight: 500;
    align-items: center;
    text-shadow: 0 0 5px #c0c0c0;
  }
}
